@font-face {
	font-family: "Optima";
	src: url("/src/fonts/Optima.eot");
	src: url("Optima.eot?#iefix") format("embedded-opentype"), url("/src/fonts/Optima.woff") format("woff"),
		url("/src/fonts/Optima.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Optima";
	src: url("/src/fonts/Optima-Bold.eot");
	src: url("Optima-Bold.eot?#iefix") format("embedded-opentype"), url("/src/fonts/Optima-Bold.woff") format("woff"),
		url("/src/fonts/Optima-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: bold;
}
